:root {
    --black: #000000;
    --white: #ffffff;
    --grey: grey;
}

body {
    background-color: var(--black);
    color: var(--black);
}

.container {
    background-color: var(--grey);
}

.text-white {
    color: var(--white);
}